@charset "utf-8";
*{margin:0;padding:0;border:0;}
body{font:12px "微软雅黑","宋体","Arial Narrow";letter-spacing:0;}
ul{list-style:none;}
.clear{clear:both;}
a:link,a:visited{color:#404040;text-decoration:none;}
a:hover{color:#bd0a01;text-decoration:underline;}
a:focus{outline:none;}
.wrapper{width:100%;  background-color:#e25050;}
.wrapper div{background:#e25050;}
.wrapper img{width:100%;height:auto;margin:0 auto;display:block;}
.flow_order{background:#e25050;}
.flow_order div.order_letv,.flow_order div.order_btn{float:left;}
.flow_order div.order_letv{width:41%;}
.flow_order div.order_btn{width:59%;background:#e25050;}
.flow_order div.order_btn img{width:79%;padding-top:5%;float:left;}
.footer{width:100%;background:#e25050;}
.footer .download{float:left;width:50%;text-align:center;padding-bottom:10%;/*padding:57px 0 81px 0;*/}
.footer .download img{width:89%;}




